<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>shiro</title>


</head>
<body>

    <h1>首页</h1>
    <p th:text="${msg}"></p>
    <br>
    <a th:href="@{/user/add}">add</a>
    <a th:href="@{/user/update}">update</a>

























<script>
    var i = "\n" +
        "                                .::::.\n" +
        "                              .::::::::.\n" +
        "                              :::::::::::\n" +
        "                              ':::::::::::..\n" +
        "                               :::::::::::::::'\n" +
        "                                ':::::::::::.\n" +
        "                                  .::::::::::::::'\n" +
        "                                .:::::::::::...\n" +
        "                               ::::::::::::::''\n" +
        "                   .:::.       '::::::::''::::\n" +
        "                 .::::::::.      ':::::'  '::::\n" +
        "                .::::':::::::.    :::::    '::::.\n" +
        "              .:::::' ':::::::::. :::::      ':::.\n" +
        "            .:::::'     ':::::::::.:::::       '::.\n" +
        "          .::::''         '::::::::::::::       '::.\n" +
        "         .::''              '::::::::::::         :::...\n" +
        "      ..::::                  ':::::::::'        .:' ''''\n" +
        "   ..''''':'                    ':::::.'\n";
    console.log(i);
</script>

</body>
</html>